<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
   
      <add name="NorthwindConnectionString"
         connectionString="Server=DESKTOP-PSCJFG8\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
